body{
    background-image: url(image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    margin: 0;
}

#clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#clock{
    font-family: monospace;
    font-size: 6.5rem;
    text-align: center;
    font-weight: bold;
    color: white;
    backdrop-filter: blur(2px);
    background-color: hsla(0, 0, 100, 0.1);
    width: 100%;
}